version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore"
      include: "scope"
# Updated Sun Nov  9 12:49:51 CET 2025
# Updated Sun Nov  9 12:52:28 CET 2025
# Updated Sun Nov  9 12:56:25 CET 2025
