[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    .eggs,
    *.egg-info# Updated 20251109_123817
# Updated Sun Nov  9 12:52:27 CET 2025
# Updated Sun Nov  9 12:56:25 CET 2025
